html {
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    /*background-color: bisque;*/
    width: 800px;
    height: 800px;
    margin: auto;

}

.left-column {
    /*background-color: brown;*/
    float: left;
    width: 30%;
}

.headshot {
    margin: 30% 0 0 8%;
    border-radius: 50%;
}

h1, .self-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.self-title {
    font-size: 20px;
    margin-bottom: 40px;
}

.link-container {
    margin-left: 40%;
    margin-bottom: 10px;
}
.right-column {
    /*background-color: lightskyblue;*/
    float: right;
    width: 70%;
    height: 100%;
}

.navbar {
    border-bottom: 2px solid black;
}

.nav-btns {
    margin: 20px 20px 16px 20px;
    background: white;
    font-size: 16px;
    height: 50px;
    width: 90px;
    cursor: pointer;
}

.nav-btns:hover {
    box-shadow: 4px 4px 4px 0 gray;
}

#projects-content,
#art-content,
#resume-content
{
    display: none;
}

#intro-btn {
    background: darkmagenta;
    color: white;
}

.content-container {
    padding-left: 15px;
}




